.container {
    align-items: center;
    color: #FFFEFE;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 5px;
}

.branding {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.branding-main-text {
    display: flex;
    letter-spacing: 15px;
    font-size: 32px;
}

.branding-about-text {
    font-size: 12px;
}

.nav-menu-bar {
    background-color: #fffefe;
    height: 4px;
    width: 35px;
}

.nav-menu-bar:nth-child(2) {
    margin: 8px 0;
}